{
  "module_entry": "moduleName",
  "module_entry": "moduleDirname",
  "module_entry": {
    "name": "moduleName",
    "dirname": "moduleDirname"
  },
  "module_dependencies": [
    "moduleName",
    "moduleDirname",
    {
      "name": "moduleName",
      "dirname": "moduleDirname"
    }
  ],
  "proxy": {
    "server": "",
    "config": {},
    "mock": []
  }
}
